h1 {
    text-align: center;
    color: #64B5F6;
    font-size: 60px;
}

body {
    background-image: url("skybackground.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: #E3F2FD;
}

#Converter {
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 15px;
    src: url('fonts/AmstelvarAlpha-VF.ttf');
    font-family:'AmstelvarAlpha';
    font-style: normal;
    background-color: #2196F3;
    color: #031834;
}

#City {
    font-size: 45px;
}

#Temperature {
    font-size: 45px;
}

#feelsLike {
    color: #0b3e85;
}

#maxTemp {
    color: #0b3e85;
}

#minTemp {
    color: #0b3e85;
}

#Pressure {
    color: #0b3e85;
}

#Humidity {
    color: #0b3e85;
}

#weatherDescription {
    color: #0b3e85;
}

.card {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 325px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}